<p>error-page works!</p>


<ul>
	<li>
		<a routerLink="/auth/login">
			Ir a Login
		</a>
	</li>
	<li>
		<a routerLink="/auth/signUp">
			Ir a Registro
		</a>
	</li>
	<li>
		<a routerLink="/heroes/list">
			Ir a Listado
		</a>
	</li>
	<li>
		<a routerLink="/heroes/add">
			Agregar Heroe
		</a>
	</li>
	<li>
		<a routerLink="/heroes/edit/1">
			Editar Heroe
		</a>
	</li>
	<li>
		<a routerLink="/heroes/search">
			Buscar Heroe
		</a>
	</li>
	<li>
		<a routerLink="/heroes/detail/1">
			Heroe
		</a>
	</li>
</ul>






