<mat-sidenav-container fullscreen>
	<mat-sidenav #sidenav mode="push">
		<mat-toolbar color="warn">
			<span>Menú</span>
			<span class="spacer"></span>
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon mat-list-icon>menu</mat-icon>
			</button>
		</mat-toolbar>
		<mat-nav-list>
			<a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
				<mat-icon mat-list-icon>label</mat-icon>
				<span>Listado de Héroes</span>
			</a>
			<mat-divider></mat-divider>
			<a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
				<mat-icon mat-list-icon>label</mat-icon>
				<span>Agregar Héroe</span>
			</a>
			<mat-divider></mat-divider>
			<a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
				<mat-icon mat-list-icon>search</mat-icon>
				<span>Buscar Héroe</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-toolbar>
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span class="spacer"></span>
		<span> {{ auth.usuario }} </span>
		<button mat-button (click)="logout()">
			Logout
		</button>
	</mat-toolbar>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
	<footer>
		<mat-toolbar fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
			<div class="text-left" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.gt-lg="50" fxFlex.sm="100">
				<span>2021 - Ejercicio Angular (Del curso Fernando Herrera) - José Mendoza </span>
			</div>
			<div class="text-right" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.gt-lg="50" fxFlex.sm="100">
				<span>Redes de José Mendoza </span>
				<a class="p-mr-3 white" href="https://github.com/josemendozaz" target="_blank" color="warn">
					<fa-icon [icon]="faGithub" ></fa-icon>
				</a>
			</div>
		</mat-toolbar>
	</footer>
</mat-sidenav-container>
